/*ABout us*/

.abt{
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  .about{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: wavy;
    font-size: 9rem;
  }
  p{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: wavy;
    font-size: 1.5rem;
    padding: 10px;
  }
}
